mat-toolbar-row {
  display: flex;
  flex-flow: row nowrap;
  img {
    width: 50px;
    height: auto;
  }
}

.auth-btn {
  margin-left: auto;
}
.container {
  margin: 30px auto;
  max-width: 1200px;
  border: 1px solid #000;
}
