<form [formGroup]="regForm" (ngSubmit)='sendData()' s>
  <h3>Register</h3>
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput formControlName="emailInput">

    <mat-hint *ngIf="formErrors.emailInput" class="error">
      {{ formErrors.emailInput}}
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput formControlName="passInput">

    <mat-hint *ngIf="formErrors.passInput" class="error">
      {{ formErrors.passInput}}
    </mat-hint>
  </mat-form-field>

  <div class="block-actions">
    <button mat-stroked-button type="submit" [disabled]="!regForm.valid">Register</button>
    <button mat-stroked-button type="reset" (click)='resetForm()'>Reset</button>
  </div>
</form>


